@import '../variables';

$errorColor: $red-500;
$transitionDuration: 0.2s;

.materialSelect{
    height: 48px;
    position: relative;
    user-select: none;

    &.inline{
        display: inline-block;
    }
    &:not(.inline){
        display: block;
        width: 100%;
    }
    &.error {
        .select:not(.open){
            border: 1px solid $errorColor !important;
        }
        .message {
            display: block;
        }
    }
    &.animate {
        .select {
            transition: background $transitionDuration ease, border $transitionDuration linear, transform $transitionDuration linear, height $transitionDuration linear, box-shadow $transitionDuration ease;

            li {
                transition: height $transitionDuration linear, opacity $transitionDuration ease, margin $transitionDuration linear;
            }
        }
    }
    .select {
        position: absolute;
        margin: 0;
        padding: 0;
        top: -1px;
        left: 0;
        user-select: none;
        width: 100%;
        text-align: center;
        height: 48px;
        overflow: hidden;
        border: 1px solid rgba($black, 0);
        box-shadow: 0 0 0 0 rgba($black, 0);
        background-color: $white;
        transform: translate(0, 0);

        &:after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $grey-400;
            content: '';
            display: block;
            height: 0px;
            position: absolute;
            pointer-events: none;
            top: 19px;
            right: 10px;
            width: 0px;
        }
        li {
            cursor: pointer;
            font-size: 15px;
            list-style: none;
            line-height: 48px;
            padding: 0 48px 0 24px;
            position: relative;
            overflow: hidden;
            user-select: none;

            &.selected {
                height: 48px;
            }
            &:not(.selected) {
                height: 0px;
                opacity: 0;
            }
        }
        &.onTop {
            z-index: 9999;
        }
        &.open {
            background-color: $grey-50;
            border-radius: 2px;
            border-width: 0;
            box-shadow: 2px 2px 5px 0 rgba($black, 0.3);
            padding-bottom: 0;
            height: 240px;
            // transform: translate(0, -50%);

            &:after {
                display: none;
            }
            &:before {
                border-color: transparent !important;
            }
            li {
                height: 48px;
                opacity: 1;

                &.selected {
                    color: $accent-500;
                }
                &:hover {
                    background-color: $grey-300;
                }
                &:active {
                    background-color: $grey-400;
                }
            }
        }
        &:not(.open) {
            &:hover {
                background-color: $grey-100;
                border-top: 1px solid $grey-400;
                border-bottom: 1px solid $grey-400;
            }
            &:active {
                box-shadow: 2px 2px 5px 0 rgba($black, 0.3);
            }
        }
    }
    .message{
        position: absolute;
        top: 50px;
        width: 100%;
        color: $errorColor;
        display: none;
    }
}
