@import '../variables';

.ripple {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: #CCC;
    border-radius: 100%;
    opacity: 1;
    transform: scale(0);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: transform 1s, opacity 1s;

    &.ending {
        opacity: 0;
        transform: scale(2.5);
    }
    &.focus {
        animation-iteration-count: infinite;
        animation-name: rippleFocus;
        animation-timing-function: ease-out;
    }
}

@keyframes rippleFocus {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(0.5);
    }
}
