{
    "plugins": [
        "react-hot-loader/babel",
        "@babel/proposal-class-properties",
        "@babel/proposal-optional-chaining",
        "@babel/plugin-proposal-export-default-from"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ],
                },
                "modules": false,
            }
        ],
        "@babel/react",
    ],
}