@import '../variables';

.materialCard {
    position: relative;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 1;
    min-width: 210px;
    padding: 0 5px;
    margin-top: 10px;

    &.shadow {
        box-shadow: 0 0 5px rgba($black, 0.5);
    }
    .wrapper {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
        border-radius: 2px;
    }
}
