@import '../variables';

%button {
    position: relative;
    overflow: hidden;
    font-size: 18px;
    line-height: 1.33;
    color: $black;
    text-decoration: none;
    cursor: pointer;
    background: rgba($black, 0);
    outline: 0;
    transition: background 0.3s, box-shadow 0.3s;
    user-select: none;

    > span {
        overflow: hidden;
    }
    i {
        vertical-align: middle;
        outline: 0;
    }
    &.disabled {
        opacity: 0.5;
    }
}
.materialButton {
    display: inline-block;

    &.raised {
        @extend %button;

        padding: 10px 16px;
        border: 0;
        border-radius: 3px;
        box-shadow: 0 2px 6px 0 rgba($black, 0.3);

        &:not(.disabled) {
            &:hover {
                box-shadow: 0 3px 8px 0 rgba($black, 0.5);
            }
            &:active {
                box-shadow: 0 3px 12px 0 rgba($black, 0.5);
            }
        }
    }
    &.flat {
        @extend %button;
        padding: 10px 16px;
        box-shadow: none;
        transition: background 0.3s;

        &:not(.disabled) {
            &:hover {
                background: rgba($grey, 0.2);
            }
            &:active {
                background: rgba($grey, 0.4);
            }
        }
    }
    $spanSize: 30px;
    &.iconBtn {
        overflow: hidden;
        transform: translateZ(0);
        transition: transform 0.5s;

        &.raised {
            transition: transform 0.5s, box-shadow 0.5s, background 0.5s;
        }
        > span {
            position: relative;
            display: block;
            width: $spanSize;
            height: $spanSize;
            overflow: hidden;
            line-height: $spanSize;
            transform: translate(0, 0) scale(1, 1);
            transition: transform 0.5s;

            > span {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: $spanSize;
                height: $spanSize;
                line-height: $spanSize;
                border: 1px solid transparent;
                transform: translate(0, 0) scale(1, 1);
                transition: transform 0.5s, background 0.5s;
            }
        }
    }
    &.play > span {
        transform: translate($spanSize / 2, 0) scale(1.6, 1);
    }
    &.play > span > span {
        transform: rotate(-45deg) translate($spanSize / -2, $spanSize / -2) scale(1, 1);
    }
    &.pause > span > span {
        transform: scale(0.4, 1) translate($spanSize / 20 * 16 * -1, 0);
        &.s3 {
            transform: scale(0.4, 1) translate($spanSize / 20 * 16, 0);
        }
    }
    &.stop > span {
        transform: scale(0.8, 0.8);
    }
    &.menu > span > span {
        transform: scale(1, 0.1) translate(0, $spanSize * -3);
        &.s2 {
            transform: scale(1, 0.1) translate(0, 0);
        }
        &.s3 {
            transform: scale(1, 0.1) translate(0, $spanSize * 3);
        }
    }
    &.close > span {
        transform: rotate(45deg);
    }
    &.close > span > span,
    &.plus > span > span {
        transform: scale(1, 0.1) translate(0, 0);
        &.s3 {
            transform: scale(0.1, 1);
        }
    }
    &.minus > span > span {
        transform: scale(1, 0.2);
    }
    &.more > span > span {
        border-radius: $spanSize;
        transform: scale(0.2, 0.2) translate($spanSize * 3 / -2, 0);
        &.s2 {
            transform: scale(0.2, 0.2) translate(0, 0);
        }
        &.s3 {
            transform: scale(0.2, 0.2) translate($spanSize * 3 / 2, 0);
        }
    }
    &.topArrow > span > span {
        width: 0.4em;
        height: 1.8em;
        transform: translate($spanSize / 20 * 8, $spanSize / 10);
        &.s2 {
            height: $spanSize / 20 * 14;
            transform: translate($spanSize / 2, 0) rotate(45deg);
            transform-origin: 0 0;
        }
        &.s3 {
            height: $spanSize / 20 * 14;
            transform: translate($spanSize / 20 * 6, 0) rotate(-45deg);
            transform-origin: 100% 0;
        }
    }
    &.bottomArrow > span > span {
        width: 0.4em;
        height: 1.8em;
        transform: translate($spanSize / 20 * 8, 0);
        &.s2 {
            height: $spanSize / 20 * 14;
            transform: translate($spanSize / 20 * 6, $spanSize / 20 * 6) rotate(45deg);
            transform-origin: 100% 100%;
        }
        &.s3 {
            height: $spanSize / 20 * 14;
            transform: translate($spanSize / 2, $spanSize / 20 * 6) rotate(-45deg);
            transform-origin: 0 100%;
        }
    }
    &.rightArrow > span > span {
        width: $spanSize / 20 * 18;
        height: $spanSize / 20 * 4;
        transform: translate(0, $spanSize / 20 * 8);
        &.s2 {
            width: $spanSize / 20 * 14;
            transform: translate($spanSize / 20 * 6, $spanSize / 2) rotate(45deg);
            transform-origin: 100% 0;
        }
        &.s3 {
            width: $spanSize / 20 * 14;
            transform: translate($spanSize / 20 * 6, $spanSize / 20 * 6) rotate(-45deg);
            transform-origin: 100% 100%;
        }
    }
    &.leftArrow > span > span {
        width: $spanSize / 20 * 18;
        height: $spanSize / 20 * 4;
        transform: translate($spanSize / 10, $spanSize / 20 * 8);
        &.s2 {
            width: $spanSize / 20 * 14;
            transform: translate(0, $spanSize / 20 * 6) rotate(45deg);
            transform-origin: 0 100%;
        }
        &.s3 {
            width: $spanSize / 20 * 14;
            transform: translate(0, $spanSize / 2) rotate(-45deg);
            transform-origin: 0 0;
        }
    }
    &.checked > span > span {
        width: $spanSize / 2;
        height: $spanSize / 20 * 4;
        transform: translate($spanSize / 20 * -3, $spanSize / 20 * 14) rotate(45deg);
        transform-origin: 100% 100%;
        &.s3 {
            width: $spanSize / 20 * 18;
            transform: translate($spanSize / 20 * 7, $spanSize / 20 * 14) rotate(-45deg);
            transform-origin: 0 100%;
        }
    }
    &.heart > span > span {
        top: $spanSize / 10;
        left: $spanSize / 2;
        width: $spanSize / 2;
        height: $spanSize / 20 * 17;
        border-radius: $spanSize / 2 $spanSize / 2 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
        &.s3 {
            left: 0;
            transform: rotate(45deg);
            transform-origin: 100% 100%;
        }
    }
}
